:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --main-font-weight: 410;
  --title-font-weight: 715;
  --page-background:
    repeating-linear-gradient(
      to right,
      rgb(211 211 211) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      rgb(211 211 211) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      rgb(231 231 231) 0.01%,
      rgb(26 26 26) 100%
    );
  --background-color: #fff;
  --accent-color: #000;
  --contour-color: #000;
  --animation-fill-color: #f00;
  --button-text-color: #fff;
  --button-fill-color: #000;
  --focus-shadow: 2px 2px 0 var(--accent-color, #000);
  --label-stroke-color: #fff;
  --border-width: 2px;
  --section-offset: 100px;
  --content-width: clamp(320px, 100vw, 700px);
  --header-padding-block: clamp(122px, 117.775px + 1.127vw, 130px);
  --header-logo-size: clamp(49px, 40.549px + 2.254vw, 65px);
  --header-title-size: clamp(14px, 3.615px + 2.769vw, 23px);
  --card-content-padding: 25px;
  --card-content-gap: 25px;
  --card-label-offset: var(--card-content-padding, 25px);
  --card-title-padding-block: 4px;
  --card-title-padding-inline: 10px;
  --card-text-size: 18px;
  --card-line-height: 1.17;
  --accent-text-size: 14px;
  --button-width: 130px;
  --button-height: 38px;
  --like-button-width: 130px;
  --icon-button-size: 38px;
  --save-button-padding-block: 15px;
  --save-button-padding-inline: 20px;
  --dialog-width: 353px;
}
